.title{
    font-size: 5rem;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: verdana;
    margin-left: 42%;   
}

.contact-card{
    width: 30%;
    height: 400px;
    background-color: var(--backgroundPrimary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-card h1{
    align-self: center;
    font-size: 4rem;
    margin-top: 30px;
    margin-bottom: 5px;
    color: #000000;
    font-family: verdana;
}

.cards-container{
    margin-top: 10%;
    align-items: left;
    justify-content:left;
    display: flex;
    flex-direction: column;
}

.contact-card p{
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 5%;
    align-items: left;
    justify-content:left;
    color: #000000;
    font-size: 25px;
    font-family: verdana;
    display: flex;
}

.contact-card input{
    width: 80%;
    height: 30px;
    padding: 25px;

    border-radius:20px;
    border-style: none;
    margin-bottom: 10px;
}

.contact{
    width:100vw;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    background-color: transparent;
}

.icon{
    margin-left: 45px;
    font-size: 60px;
    margin-right: 15px;
}

@media only screen and (max-width: 1440px){
    .title{
        font-size: 5rem;
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: verdana;
        margin-left: 40%;   
    }

    .contact-card{
        width: 40%;
        height: 400px;
        background-color: var(--backgroundPrimary);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .icon{
        margin-left: 40px;
        margin-bottom: 10px;
        font-size: 55px;
        margin-right: 10px;
        height: 40px;
    }
}

@media only screen and (max-width: 1024px){
    .title{
        font-size: 5rem;
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: verdana;
        margin-left: 35%;   
    }

    .contact-card{
        width: 40%;
        height: 400px;
        background-color: var(--backgroundPrimary);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .contact-card h1{
        align-self: center;
        font-size: 3rem;
        margin-top: 30px;
        margin-bottom: 50px;
        color: #000000;
        font-family: verdana;
    }

    .contact-card p{
        margin-bottom: 10px;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        justify-content: left;
        color: #000000;
        font-size: 20px;
        font-family: verdana;
        display: flex;
    }

    .icon{
        margin-left: 30px;
        font-size: 55px;
        margin-right: 10px;
        height: 40px;
    }
}

@media only screen and (max-width: 768px){
    .title{
        font-size: 3rem;
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: verdana;
        margin-left: 40%;   
    }

    .contact-card h1{
        align-self: center;
        font-size: 2rem;
        margin-top: 30px;
        margin-bottom: 50px;
        color: #000000;
        font-family: verdana;
    }

    .contact-card p{
        margin-bottom: 20px;
        margin-left: 15%;
        align-items: left;
        justify-content:left;
        color: #000000;
        font-size: 14px;
        font-family: verdana;
        display: flex;
    }

    .icon{
        margin-left: 25px;
        font-size: 65px;
        margin-right: 15px;
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 650px){

    .contact{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }

    .title{
        text-align: center;
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .contact-card{
        width:80%;
        margin-bottom: 40px;
        margin-top: 5px;
        margin-left: 25px;
    }

    .contact-card h1{
        font-size:3rem;
    }

    .cards-container p{
        font-size:1.5rem;
    }

}