.header {
  background-color:#fff;
  width:100%;
}

.barsIcon{  
  position:absolute;
  top: 110px;
  right: 20px;
}

.menu{
  width:300px;
  padding:10px;
  background-color:var(--backgroundLight);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150px;
  right: 0px;
  z-index: 10000;
}

.topside-header{
  background-color: var(--backgroundPrimary);
  height: 6vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8vw;
}

.header button{
  background-color: transparent;
  border: none;

  margin-right: 10px;
  margin-left: 10px;
}

.link{
  text-decoration: none;
  font-family: "CeraPro";
  font-size: 12px;
  padding: 6px 15px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

.link-dark{
  text-decoration: none;
  font-family: "CeraPro";
  font-size: 12px;
  padding: 6px 15px;
  letter-spacing: 1px;
  color: var(--secondaryTextDark);
}

.link-dark:hover{
  text-decoration: underline;
}

.link:hover{
  text-decoration: underline;
}

.header button p{
  font-family: "CeraPro";
  font-size: 12px;
  padding: 6px 15px;
  letter-spacing: 1px;
  color: var(--secondaryText);

}

.header button p:hover{
  text-decoration: underline;
}


.bottomside-header{
  height: 4vh;
  padding-right: 8vw;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}

.logo{
  width:120px;
  height:110px;

  position:absolute;
  top:1vh;
  left: 8vw;
}

@media(max-width: 1024px){
  .link-dark, .link{
    font-size:1rem;
  }


  .logo{
    width:110px;
    height:100px;
  }
  
}

@media only screen and (max-width: 500px){
  .bottomside-header{
    position: absolute;
    top:-100px;
  }
  .logo{
    width:60px;
    height: 50px;
    margin-top:-10px
  }
}

@media only screen and (min-width: 1000px){
  .barsIcon{
    top:-100px;
  }
}